In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import folium
import json
import wbdata
from sklearn.cluster import KMeans 
import pylab as pl

In [4]:
path = r"C:\Users\ryani\Desktop\Data Analyst COURSE\Data Immersion\E6 - Dashboards and Analytics\UN_DATASET"

In [5]:
df_UN = pd.read_csv (os.path.join(path, '03 Prepared Data', 'UN_cl_cluster.csv'))
df_UN

,Unnamed: 0,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,...,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR,clusters
0,0,143,4,NaN,AFG,AF,4,4,Country/Area,5501,...,224.8054,101.7436,110.5445,92.7252,198.4914,221.6256,175.9458,-44.089,-1.034,2
1,1,143,4,NaN,AFG,AF,4,4,Country/Area,5501,...,229.1277,103.7876,112.5256,94.8531,201.1085,224.2414,178.7562,-48.958,-1.181,2
2,2,143,4,NaN,AFG,AF,4,4,Country/Area,5501,...,233.7682,108.9153,120.5091,97.0285,207.2249,233.3923,181.8401,-647.402,-15.954,2
3,3,143,4,NaN,AFG,AF,4,4,Country/Area,5501,...,291.2585,187.4871,243.1744,126.7582,316.9767,388.2573,239.8960,-548.784,-13.719,2
4,4,143,4,NaN,AFG,AF,4,4,Country/Area,5501,...,275.1640,160.4519,201.7709,116.2911,284.3806,344.7921,221.3018,143.634,3.676,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,2315,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,...,353.8247,209.8813,234.9024,190.9142,347.4430,389.2870,313.5975,-103.107,-6.752,2
2316,2316,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,...,360.0455,211.7529,232.9385,195.8469,349.1253,385.7373,319.5930,-117.758,-7.833,2
2317,2317,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,...,374.3302,220.8267,241.7148,205.0532,360.9658,395.5178,333.0355,-128.241,-8.658,2
2318,2318,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,...,386.7537,229.5361,246.6502,216.6720,369.5281,400.3307,344.6680,-140.181,-9.601,2
2319,2319,83,716,NaN,ZWE,ZW,716,4,Country/Area,910,...,404.9676,240.6517,255.9804,228.9698,383.5534,410.1757,362.0620,-162.220,-11.266,2

In [6]:
df_UN.groupby('clusters').describe()

         Unnamed: 0                                                          \
              count         mean         std   min     25%     50%      75%
clusters
0             650.0  1144.346154  623.937429  40.0  662.25  1154.5  1716.75
1             510.0  1210.578431  629.070422  20.0  717.25  1144.5  1811.75
2             490.0  1192.459184  676.865749   0.0  642.25  1234.5  1836.75
3             670.0  1111.216418  732.451199  10.0  417.25  1054.5  1761.75

                 SortOrder              ... NetMigrations             CNMR  \
             max     count        mean  ...           75%       max  count
clusters                                ...
0         2229.0     650.0  218.538462  ...      28.95500  1175.283  650.0
1         2249.0     510.0  212.960784  ...       0.00000   757.309  510.0
2         2319.0     490.0  107.102041  ...       1.72525   496.830  490.0
3         2289.0     670.0  220.865672  ...       9.65175  1889.129  670.0


              mean        std      min      25%     50%      75%      max
clusters
0         2.023109  14.213522 -138.846 -1.07000  2.1240  5.43700  140.938
1        -3.020929  11.891950  -48.734 -4.04075 -1.2720  0.00000   67.758
2        -1.439061   6.499384  -65.354 -2.18075 -0.4685  0.24125   39.622
3         0.569397  14.577395 -101.335 -3.66400  0.0000  4.28650   84.052

[4 rows x 504 columns]

In [7]:
df_UN.groupby('clusters').describe().to_clipboard()